[submodule "data/t1dms"]
	path = data/t1dms
	url = /data/datasets/t1dms
	datalad-id = bf3fb476-044b-48a1-84f0-28ea61b59dc2
	datalad-url = /data/datasets/t1dms
[submodule "data/ohio"]
	path = data/ohio
	url = /data/datasets/ohio
	datalad-id = f8b1ee1e-281b-4c71-87c7-faf37512e58f
	datalad-url = /data/datasets/ohio
[submodule "experiments/test_datalad"]
	path = experiments/test_datalad
	url = ./experiments/test_datalad
	datalad-id = 575ef58f-94a9-4e0e-9e16-d9c958401ace
[submodule "data/t1dms_child"]
	path = data/t1dms_child
	url = /data/datasets/t1dms_child
	datalad-id = c1c12795-f0d0-400e-bc99-d1d43b36de1c
	datalad-url = /data/datasets/t1dms_child
[submodule "data/t1dms_adolescent"]
	path = data/t1dms_adolescent
	url = /data/datasets/t1dms_adolescent
	datalad-id = 416b9477-5607-46e4-9302-8ec94359052b
	datalad-url = /data/datasets/t1dms_adolescent
[submodule "data/t1dms_adult"]
	path = data/t1dms_adult
	url = /data/datasets/t1dms_adult
	datalad-id = 58737ed3-a5e5-4e2a-8079-f82c0163d067
	datalad-url = /data/datasets/t1dms_adult
[submodule "data/sap100"]
	path = data/sap100
	url = /data/datasets/sap100
	datalad-id = b4fe4d5f-6d20-4464-82da-23a25b1d0e48
	datalad-url = /data/datasets/sap100
[submodule "experiments/all_sap100"]
	path = experiments/all_sap100
	url = ./experiments/all_sap100
	datalad-id = 6fbeee36-0747-481d-92e3-1ea78a1b7fc9
