# Ignore everything in this directory
*
# Except this file
!.gitignore

# And except the directory names (contents _should_ be ignored) 
# (I don't think this actually works :( )
!ohio
!ohio/OhioT1DM-testing
!ohio/OhioT1DM-training